@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: #c6e21c;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a{
    color: white;
    text-decoration: none ;
}

.hamburger{
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    font-size: 3rem;
}

.phone{
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
}

.logo{
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin: 2rem 0;
}

.logo i {
    font-size: 2rem;
}

.logo h2{
    font-weight: normal;
    margin: 0;
}

.logo p{
    color: #40020e;
    font-weight: bold;
    margin: 0;
}

.carousel-container{
    overflow: hidden;
    position: relative;
    height: 90vh;
    width: 100vw;
    margin-top: 7rem;
}

.carousel{
    position: absolute;
    left: 0;
    top: 0;
    transform: translatex(0);
    display: flex;
}
.slide{
    width: 100vw;
    text-align: center;
}

.slide img {
    object-fit: cover;
    height: 400px;
    width: 400px;
}

 .slide h1{
     color: white;
     padding: 1rem 2rem;
     font-size: 1.5rem;
 }
 .slide a{
     background-color: #360236;
     color: black;
     padding: 1rem 2rem;
     font-size: 1.5rem;
 }

 .arrow{
     background-color: transparent;
     border: none;
     position: absolute;
     top: 30%;
     cursor: pointer;
     transform: translateY(-50%);
     font-size: 5rem;
     color: black;
     opacity: 0.5;
 }

 .left-arrow{
     left: 2rem;
 }

 .right-arrow{
     right: 2rem;
 }